body {
  color: #fff;
  background-color: #2e343e;
}

#spellsGrid {
  height: 600px;
  padding: 1rem;
  background-color: #465672;
}

.spells-table-name-link {
  margin-left: 0.4rem;
  color: #fff;
  font-weight: bold;
}
